body {
  font-family: Arial, sans-serif;
  height: 100vh; 
  margin: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

#chatbox {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#chatlog {
  height: 400px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}
#userInput {
border: none;
border-radius: 20px;
width: 100%;
height: 30px;
padding: 5px;
padding-left: 20px; 
margin-top: 10px;
outline-color: #1a4f80;
}
#buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  
}
.action-button {

background-color: #1a4f80;
border-radius: 25%;
border: none;
padding: 20px;
cursor: pointer;
background-size: cover;
width: 10px;
height: 5px;
}

.send-button {
background-image: url('assets/send.png');

}

#inputAndButtons {
display: flex;
align-items: center;
padding: 10px;
margin-top: 10px;
background-color: #1a4f80;
}
.message-container {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}
.message-text {
  padding: 10px;
  border-radius: 10px;
  background-color: #d6ecf6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.user-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.bot-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.uni-logo {
width: 80px;

background-color: #fff;
}
.user-message-container {
  justify-content: flex-end;
  text-align: right;
}
.bot-message-container {
  justify-content: flex-start;
  text-align: left;
}
.title-container {
display: flex;
margin-bottom: 10px;
justify-content: center;
text-align: left;
background-color: #fff;
}